:root {

	--clr-purple100: hsl(254, 88%, 90%);
	--clr-purple500: hsl(256, 67%, 59%);
	--clr-yellow100: hsl(31, 66%, 93%);
	--clr-yellow500: hsl(39, 100%, 71%);
	--clr-white: hsl(0, 0%, 100%);
	--clr-black: hsl(0, 0%, 7%);

	/* Font Weight */
	--font-weight-300: 300;
	--font-weight-500: 500;
	--font-weight-600: 600;
	--font-weight-700: 700;
}

*, *::after, *::before {
	font-family: "DM Sans", serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 18px;
}



img,
picture,
video,
canvas,
svg {
	display: block;
	user-select: none;
	max-width: 100%;
}



body {
	background-color: hsl(0, 0%, 96%);
	height: 100dvh;
	display: grid;
	place-items: center;
}


.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-gap: 1.5rem;
	padding-block: 2rem;
}



.grid-item {
	/* outline: 1px solid black; */
	margin-inline: 2rem;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	padding: 0.8rem;

}


#grid-item-1, #grid-item-2, #grid-item-4, #grid-item-5 {
	align-items: center;
}

h2 {
	font-size: 1.3rem;
	font-weight: var(--font-weight-600);
}


/*////////////*/
/*GRID ITEM 1*/
/*//////////*/
#grid-item-1 {
	text-align: center;
	background-color: var(--clr-purple500);
}

h1 {
	font-size: 2.5rem;
	color: var(--clr-white);
	font-weight: var(--font-weight-600);
	padding-block: 1rem;
	padding-inline: 0.8rem;
}

h1 span {
	font-size: inherit;
	color: var(--clr-yellow500);
}

.five-stars {
	width: 10rem;
	padding-bottom: 0.5rem;
}

#grid-item-1 p {
	color: rgba(255, 255, 255, 0.834);
	padding-bottom: 1rem;
}



/*////////////*/
/*GRID ITEM 2*/
/*//////////*/

#grid-item-2 img {
	margin-bottom: 1rem;
}



/*////////////*/
/*GRID ITEM 3*/
/*//////////*/
#grid-item-3 {
	background-color: var(--clr-yellow500);
	overflow: hidden;
}


#grid-item-3 img {
	padding-top: 0.5rem;
	width: 12rem;
	margin-bottom: -2rem;
	text-align: left;
	margin-left: 0;
}



/*////////////*/
/*GRID ITEM 4*/
/*//////////*/
#grid-item-4 {
	background-color: var(--clr-purple100);
}

#grid-item-4 img {
	padding-block: 1.2rem;
	width: 19rem;
}

#grid-item-4 p {
	text-align: center;
	padding-bottom: 1rem;
}



/*////////////*/
/*GRID ITEM 5*/
/*//////////*/
#grid-item-5 {
	background-color: var(--clr-purple500);
}

#grid-item-5 img {
	width: 13rem;
}

#grid-item-5 h2 {
	text-align: center;
	color: var(--clr-white);
	padding-top: 2rem;
	padding-inline: 3rem;
}

/*////////////*/
/*GRID ITEM 6*/
/*//////////*/

#grid-item-6 h2 {
	font-size: 2rem;
	padding-block: 0.5rem;
}


#grid-item-6 p {
	padding-bottom: 1rem;
}



#grid-item-6 img {
	width: 8rem;
	padding-bottom: 1rem;
}





/*////////////*/
/*GRID ITEM 7*/
/*//////////*/

#grid-item-7 {
	background-color: var(--clr-yellow100);
	padding: 2rem;
}

#grid-item-7 span {
	font-size: inherit;
	color: var(--clr-purple500)
}


#grid-item-7 img {
	width: 10rem;
	padding-top: 1rem;
}



/*////////////*/
/*GRID ITEM 8*/
/*//////////*/
#grid-item-8 h2 {
	padding-right: 1rem;
}


#grid-item-8 {
	background-color: var(--clr-yellow500);
}

#grid-item-8 img {
	padding-top: 1rem;
	width: 12rem;
}





/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.container {
		max-width: 600px;
	}

}

/* Medium devices (landscape tablets, 768px/48rem and up) */
@media only screen and (min-width: 768px) {
	.container {
		max-width: 768px;
		grid-template-columns: repeat(2, 1fr);
	}

	.grid-item {
		margin-inline: 0rem;
	}

	#grid-item-2, #grid-item-3, #grid-item-6 {
		justify-content: center;
	}



}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1152px) {

	.container {
		max-width: 1152px;
		grid-template-columns: repeat(4, 225px);
		grid-auto-rows: 30px 225px 75px 150px 225px;

		grid-template-areas:
			'b7 b1 b1 b4'
			'b7 b1 b1 b4'
			'b7 b2 b3 b4'
			'b8 b2 b3 b4'
			'b8 b6 b5 b5'
		;

		justify-content: center;
	}


	h2 {
		font-size: 1.5rem;
		font-weight: var(--font-weight-600);
	}


	#grid-item-1 {
		grid-area: b1;
		justify-content: center;

	}

	#grid-item-2 {
		grid-area: b2;
		display: grid;
		overflow: hidden;

		img {
			max-width: 145%;
		}
	}


	#grid-item-3 {
		grid-area: b3;
		padding: 1rem;
		display: grid;

		img {
			margin-bottom: -6rem;
		}

	}



	#grid-item-4 {
		grid-area: b4;

		padding-block: 2.5rem;
		padding-left: 1.5rem;
		padding-right: 0;
		display: grid;
		overflow: hidden;

		img {
			max-width: 160%;
		}

		p {
			text-align: left;

		}

	}



	#grid-item-5 {
		grid-area: b5;
		flex-direction: row;
		gap: 0.5rem;

		h2 {
			padding: 0;
			text-align: left;
		}

		img {
			width: 45%;
		}
	}




	#grid-item-6 {
		grid-area: b6;


		h2 {
			font-size: 3.5rem;
			font-weight: var(--font-weight-400);
		}
	}



	#grid-item-7 {
		grid-area: b7;
		justify-content: center;
	}




	#grid-item-8 {
		grid-area: b8;
		justify-content: space-around;
		padding: 1rem;
	}


	#grid-item-9 {
		grid-area: b9;
	}

	.grid-item {
		padding:1.3rem;
	}

}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}